{{> add-post}}

    <section>
        <h2 class="my-posts">Your Posts ({{posts.length}})</h2>
        {{#if posts.length}}
        <ul class="post-list">
            {{#each posts as |post|}}
            <li>
                <article class="post">
                    {{> post-info post}}
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
                </article>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    

    <script src="/javascript/add-post.js"></script>