<article class="post">
{{> post-info post}}
</article>

<article class="comments-list">
    <h3>Comments ({{post.comments.length}})</h3>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-text" required minlength="1" maxlength="500" aria-errormessage="Comment must not exceed 500 characters."></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{#if post.comments.length}}
{{> comments post.comments}}
{{/if}}
</article>


{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}